In [ ]:
import numpy as np
import pandas as pd
old_movie = pd.read_csv('/content/drive/My Drive/Movie/movie_17.csv')
new_18 = pd.read_csv('/content/drive/My Drive/Movie/movie_18')
new_19 = pd.read_csv('/content/drive/My Drive/Movie/movie_19')

In [ ]:
new_19

     Unnamed: 0  ...       movie_title
0             0  ...       Escape Room
1             1  ...        Rust Creek
2             2  ...  American Hangman
3             3  ...  A Dog's Way Home
4             4  ...        The Upside
..          ...  ...               ...
236         236  ...      Little Women
237         237  ...              1917
238         238  ...        Just Mercy
239         239  ...          Clemency
240         240  ...        Apparition

[241 rows x 7 columns]

In [ ]:
new_19.isna().sum()

Unnamed: 0        0
director_name     0
actor_1_name      0
actor_2_name      1
actor_3_name     16
genres            1
movie_title       0
dtype: int64

In [ ]:
new_19['actor_2_name'] = new_19['actor_2_name'].replace(np.nan, 'unknown')
new_19['actor_3_name'] = new_19['actor_3_name'].replace(np.nan, 'unknown')

In [ ]:
new_19['comb'] = new_19['actor_1_name'] + ' ' + new_19['actor_2_name'] + ' '+ new_19['actor_3_name'] + ' '+ new_19['director_name'] +' ' + new_19['genres']

In [ ]:
new_19.dropna(inplace= True)

In [ ]:
new_18['actor_2_name'] = new_18['actor_2_name'].replace(np.nan, 'unknown')
new_18['actor_3_name'] = new_18['actor_3_name'].replace(np.nan, 'unknown')

In [ ]:
new_18['comb'] = new_18['actor_1_name'] + ' ' + new_18['actor_2_name'] + ' '+ new_18['actor_3_name'] + ' '+ new_18['director_name'] +' ' + new_18['genres']

In [ ]:
new_18.dropna(inplace= True)

In [ ]:
new_19.isna().sum()

Unnamed: 0       0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [ ]:
old_movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [ ]:
new_18.isna().sum()

Unnamed: 0       0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [ ]:
movie = old_movie.append(new_19.append(new_18,ignore_index= True),ignore_index= True)

In [ ]:
movie.drop('Unnamed: 0',axis= 1,inplace= True)

In [ ]:
 movie.to_csv('final_movie')

In [ ]:
movie = pd.read_csv('/content/drive/My Drive/Movie/final_movie')

In [ ]:
movie.drop('Unnamed: 0',axis= 1,inplace= True)

In [ ]:
movie

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
5935         Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
5936         Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
5937         Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
5938       Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
5939        David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[5940 rows x 7 columns]