Preprocessing the movie_metadata into data_1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Movie/movie_metadata.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [ ]:
df.shape

(5043, 28)

In [ ]:
df.head(5)

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [ ]:
df.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [ ]:
# we need to reduce the columns by selecting the informatice colmns that yeild the best content.
info_col = ['director_name','actor_1_name','actor_2_name','actor_3_name','genres','imdb_score','movie_title']
df = df.loc[:,info_col]
df.head(10)

       director_name  ...                                        movie_title
0      James Cameron  ...                                            Avatar
1     Gore Verbinski  ...          Pirates of the Caribbean: At World's End
2         Sam Mendes  ...                                           Spectre
3  Christopher Nolan  ...                             The Dark Knight Rises
4        Doug Walker  ...  Star Wars: Episode VII - The Force Awakens    ...
5     Andrew Stanton  ...                                       John Carter
6          Sam Raimi  ...                                      Spider-Man 3
7       Nathan Greno  ...                                           Tangled
8        Joss Whedon  ...                           Avengers: Age of Ultron
9        David Yates  ...            Harry Potter and the Half-Blood Prince

[10 rows x 7 columns]

In [ ]:
df.isna().sum()

director_name    104
actor_1_name       7
actor_2_name      13
actor_3_name      23
genres             0
imdb_score         0
movie_title        0
dtype: int64

In [ ]:
df.columns.to_list()[0:-2]

['director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'genres']

In [ ]:
#replacing the nan for the above names with unknown
def fill_name(df,col):
  df[col] = df[col].replace(np.nan,'unknown')

col = df.columns.to_list()[0:-2]
for i in col:
  fill_name(df,i)

In [ ]:
df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
imdb_score       0
movie_title      0
dtype: int64

In [ ]:
df['genres'] = df['genres'].apply(lambda x : x.replace('|',' '))

In [ ]:
df['movie_title'] = df['movie_title'].apply(lambda x : x[:-1])

In [ ]:
df.head(5)

       director_name  ...                                        movie_title
0      James Cameron  ...                                             Avatar
1     Gore Verbinski  ...           Pirates of the Caribbean: At World's End
2         Sam Mendes  ...                                            Spectre
3  Christopher Nolan  ...                              The Dark Knight Rises
4        Doug Walker  ...  Star Wars: Episode VII - The Force Awakens    ...

[5 rows x 7 columns]

In [ ]:
df.to_csv('data_1.csv',index= False)

Preprocessing 2  using the credit.csv to a new dataframe as data_2

In [ ]:
credits = pd.read_csv('/content/drive/My Drive/Movie/credits.csv')

In [ ]:
credits

                                                    cast  ...      id
0      [{'cast_id': 14, 'character': 'Woody (voice)',...  ...     862
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...    8844
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...   15602
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...   31357
4      [{'cast_id': 1, 'character': 'George Banks', '...  ...   11862
...                                                  ...  ...     ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  ...  439050
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  ...  111109
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...  ...   67758
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  ...  227506
45475                                                 []  ...  461257

[45476 rows x 3 columns]

In [ ]:
meta_movies = pd.read_csv('/content/drive/My Drive/Movie/movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
meta_movies.head(5)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
meta_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
meta_movies['release_date'].head(5)

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [ ]:
# fixing the date and time to the right format
meta_movies['release_date'] = pd.to_datetime(meta_movies['release_date'], errors='coerce')
meta_movies['year'] = meta_movies['release_date'].dt.year

In [ ]:
col = ['genres','title','year','id']
meta = meta_movies[meta_movies['year'] >= 2017].loc[:,col]

In [ ]:
meta['year'].value_counts()

2017.0    532
2018.0      5
2020.0      1
Name: year, dtype: int64

In [ ]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 538 entries, 26559 to 45465
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  538 non-null    object
 1   title   538 non-null    object
 2   year    538 non-null    float64
 3   id      538 non-null    object
dtypes: float64(1), object(3)
memory usage: 21.0+ KB

In [ ]:
meta['id'] = meta['id'].astype(int)

In [ ]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 538 entries, 26559 to 45465
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  538 non-null    object
 1   title   538 non-null    object
 2   year    538 non-null    float64
 3   id      538 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 21.0+ KB

In [ ]:
data = pd.merge(meta, credits, on='id')

In [ ]:
pd.set_option('display.max_colwidth', 75)
data.head(5)

                                                                       genres  ...                                                                        crew
0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '52fe4943c3a368484e122b45', 'department': 'Directing', '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...  ...  [{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...
2  [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...
3  [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...
4  [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...  ...  [{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...

[5 rows x 6 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 537 entries, 0 to 536
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  537 non-null    object
 1   title   537 non-null    object
 2   year    537 non-null    float64
 3   id      537 non-null    int64
 4   cast    537 non-null    object
 5   crew    537 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 29.4+ KB

In [ ]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [ ]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [ ]:
data['genres'] = data['genres'].apply(lambda x: make_genresList(x))

In [ ]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [ ]:
data['actor_1_name'] = data['cast'].apply(lambda x: get_actor1(x))

In [ ]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [ ]:
data['actor_2_name'] = data['cast'].apply(lambda x: get_actor2(x))

In [ ]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [ ]:
data['actor_3_name'] = data['cast'].apply(lambda x: get_actor3(x))

In [ ]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [ ]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [ ]:
data['movie_title'] = data['title']

In [ ]:
data_2 = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
data_1 = pd.read_csv('/content/drive/My Drive/Movie/data_1.csv')
data_1.drop('imdb_score',inplace= True,axis= 1)

In [ ]:
data_2.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres            7
movie_title       0
dtype: int64

In [ ]:
col =  data_2.columns.to_list().remove('genres')
def fill_name(df,col):
  df[col] = df[col].replace(np.nan,'unknown')

col = data_2.columns.to_list()[0:-2]
for i in col:
  fill_name(data_2,i)

In [ ]:
data_2.dropna(inplace= True)

In [ ]:
data_2.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
dtype: int64

In [ ]:
data_2

                      director_name  ...                                       movie_title
0                     James Cameron  ...                                          Avatar 2
1    Joachim Rønning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
2                       Zack Snyder  ...                                    Justice League
3                     Taika Waititi  ...                                    Thor: Ragnarok
4                        James Gunn  ...                    Guardians of the Galaxy Vol. 2
..                              ...  ...                                               ...
531                     Farhad Mann  ...                                 Can't Buy My Love
532                Hannaleena Hauru  ...                  Thick Lashes of Lauri Mäntyvaara
533           Jonathan A. Rosenbaum  ...                       Cop and a Half: New Recruit
534        Beth David Esteban Bravo  ...                                    In a Heartbeat
535                    Ravi Udyawar  ...                                               Mom

[530 rows x 6 columns]

In [ ]:
data_1

          director_name  ...                                             movie_title
0         James Cameron  ...                                                  Avatar
1        Gore Verbinski  ...                Pirates of the Caribbean: At World's End
2            Sam Mendes  ...                                                 Spectre
3     Christopher Nolan  ...                                   The Dark Knight Rises
4           Doug Walker  ...  Star Wars: Episode VII - The Force Awakens
...                 ...  ...                                                     ...
5038        Scott Smith  ...                                 Signed Sealed Delivered
5039            unknown  ...                               The Following
5040   Benjamin Roberds  ...                                    A Plague So Pleasant
5041        Daniel Hsia  ...                                        Shanghai Calling
5042           Jon Gunn  ...                                       My Date with Drew

[5043 rows x 6 columns]

In [ ]:
data_2['comb'] = data_2['actor_1_name'] + ' ' + data_2['actor_2_name'] + ' '+ data_2['actor_3_name'] + ' '+ data_2['director_name'] +' ' + data_2['genres']

In [ ]:
data_1['comb'] = data_1['actor_1_name'] + ' ' + data_1['actor_2_name'] + ' '+ data_1['actor_3_name'] + ' '+ data_1['director_name'] +' ' + data_1['genres']

In [ ]:
data_1

          director_name  ...                                                                        comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4           Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
...                 ...  ...                                                                         ...
5038        Scott Smith  ...             Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy Drama
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknown Crime Drama Mystery Thr...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama Horror ...
5041        Daniel Hsia  ...        Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy Drama Romance
5042           Jon Gunn  ...                  John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

[5043 rows x 7 columns]

In [ ]:
data_2

                      director_name  ...                                                                        comb
0                     James Cameron  ...  Kate Winslet Zoe Saldana Sam Worthington James Cameron Action Adventure...
1    Joachim Rønning Espen Sandberg  ...  Johnny Depp Javier Bardem Geoffrey Rush Joachim Rønning Espen Sandberg ...
2                       Zack Snyder  ...  Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy...
3                     Taika Waititi  ...  Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adve...
4                        James Gunn  ...  Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comed...
..                              ...  ...                                                                         ...
531                     Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
532                Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
533           Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
534        Beth David Esteban Bravo  ...  unknown unknown unknown Beth David Esteban Bravo Family Animation Roman...
535                    Ravi Udyawar  ...   Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

[530 rows x 7 columns]

In [ ]:
movies = data_1.append(data_2)

In [ ]:
movies

                director_name  ...                                                                        comb
0               James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1              Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2                  Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3           Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4                 Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
..                        ...  ...                                                                         ...
531               Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
532          Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
533     Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
534  Beth David Esteban Bravo  ...  unknown unknown unknown Beth David Esteban Bravo Family Animation Roman...
535              Ravi Udyawar  ...   Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

[5573 rows x 7 columns]

In [ ]:
movies.drop_duplicates(subset ="movie_title", keep = 'first', inplace = True)

In [ ]:
movies

                director_name  ...                                                                        comb
0               James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1              Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2                  Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3           Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4                 Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
..                        ...  ...                                                                         ...
531               Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
532          Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
533     Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
534  Beth David Esteban Bravo  ...  unknown unknown unknown Beth David Esteban Bravo Family Animation Roman...
535              Ravi Udyawar  ...   Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

[5435 rows x 7 columns]

In [ ]:
movies.to_csv('new_movies.csv',index=False)

Preprocessing 3

In [ ]:
import numpy as np
import pandas as pd
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [ ]:
new_movies = pd.read_csv('/content/drive/My Drive/Movie/new_movies.csv')

In [ ]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
263  DECEMBER  ...  [162]
264  DECEMBER  ...  [136]
265  DECEMBER  ...  [223]
266  DECEMBER  ...  [256]
267  DECEMBER  ...  [257]

[268 rows x 6 columns]

In [ ]:
movie_2018 = df.loc[:,['Title','Cast and crew']]

In [ ]:
movie_2018

                          Title                                      Cast and crew
0       Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1              The Strange Ones  Lauren Wolkstein (director); Christopher Radcl...
2                      Stratton  Simon West (director); Duncan Falconer, Warren...
3                 Sweet Country  Warwick Thornton (director); David Tranter, St...
4                  The Commuter  Jaume Collet-Serra (director); Byron Willinger...
..                          ...                                                ...
263             Holmes & Watson  Etan Cohen (director/screenplay); Will Ferrell...
264                        Vice  Adam McKay (director/screenplay); Christian Ba...
265         On the Basis of Sex  Mimi Leder (director); Daniel Stiepleman (scre...
266                   Destroyer  Karyn Kusama (director); Phil Hay, Matt Manfre...
267  Black Mirror: Bandersnatch  David Slade (director); Charlie Brooker (scree...

[268 rows x 2 columns]

In [ ]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /usr/local/lib/python3.6/dist-packages (1.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2.10)

In [ ]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '98885495e6b9adbb13f0932313c618dc'

In [ ]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
  genres = []
  result = tmdb_movie.search(x)
  movie_id = result[0].id
  response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
  data_json = response.json()
  if data_json['genres']:
    genre_str = ' '
    for i in range(0,len(data_json['genres'])):
      genres.append(data_json['genres'][i]['name'])
    return genre_str.join(genres)
  else:
    np.NaN

In [ ]:
movie_2018['Genres'] = movie_2018['Title'].apply(lambda x: get_genre(x))

In [ ]:
movie_2018.to_csv('movie_2018')

In [ ]:
movie_2018 = pd.read_csv('/content/drive/My Drive/Movie/movie_2018')

In [ ]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [ ]:
movie_2018['director_name'] = movie_2018['Cast and crew'].map(lambda x: get_director(x))

In [ ]:
movie_2018

     Unnamed: 0  ...       director_name
0             0  ...        Adam Robitel
1             1  ...    Lauren Wolkstein
2             2  ...          Simon West
3             3  ...    Warwick Thornton
4             4  ...  Jaume Collet-Serra
..          ...  ...                 ...
263         263  ...          Etan Cohen
264         264  ...          Adam McKay
265         265  ...          Mimi Leder
266         266  ...        Karyn Kusama
267         267  ...         David Slade

[268 rows x 5 columns]

In [ ]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:
movie_2018['actor_1_name'] = movie_2018['Cast and crew'].map(lambda x: get_actor1(x))

In [ ]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:
movie_2018['actor_2_name'] = movie_2018['Cast and crew'].map(lambda x: get_actor2(x))

In [ ]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
movie_2018['actor_3_name'] = movie_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [ ]:
movie_18 = movie_2018.rename(columns={'Title':'movie_title','Genres':'genres'})

In [ ]:
movie_18 = movie_18.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
movie_18

          director_name  ...                 movie_title
0          Adam Robitel  ...     Insidious: The Last Key
1      Lauren Wolkstein  ...            The Strange Ones
2            Simon West  ...                    Stratton
3      Warwick Thornton  ...               Sweet Country
4    Jaume Collet-Serra  ...                The Commuter
..                  ...  ...                         ...
263          Etan Cohen  ...             Holmes & Watson
264          Adam McKay  ...                        Vice
265          Mimi Leder  ...         On the Basis of Sex
266        Karyn Kusama  ...                   Destroyer
267         David Slade  ...  Black Mirror: Bandersnatch

[268 rows x 6 columns]

In [ ]:
movie_18.to_csv('movie_18')

Extracting features of 2019 movies from Wikipedia

In [ ]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[3]
df2 = pd.read_html(link, header=0)[4]
df3 = pd.read_html(link, header=0)[5]
df4 = pd.read_html(link, header=0)[6]

df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
  genres = []
  result = tmdb_movie.search(x)
  movie_id = result[0].id
  response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
  data_json = response.json()
  if data_json['genres']:
    genre_str = ' '
    for i in range(0,len(data_json['genres'])):
      genres.append(data_json['genres'][i]['name'])
    return genre_str.join(genres)
  else:
    np.NaN

In [ ]:
df

      Opening  ...   Ref.
0         NaN  ...    [2]
1         NaN  ...    [3]
2         NaN  ...    [4]
3         NaN  ...    [5]
4         NaN  ...    [6]
..        ...  ...    ...
236  December  ...  [222]
237  December  ...  [223]
238  December  ...  [224]
239  December  ...  [225]
240  December  ...  [226]

[241 rows x 6 columns]

In [ ]:
df['genres'] = df['Title'].apply(lambda x: get_genre(x))

In [ ]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [ ]:
df['director_name'] = df['Cast and crew'].map(lambda x: get_director(x))

In [ ]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:
df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

In [ ]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:
df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

In [ ]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

In [ ]:
df = df.rename(columns={'Title':'movie_title','Genres':'genres'})

In [ ]:
df = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
df.to_csv('movie_19')

In [ ]:
df

             director_name  ...       movie_title
0             Adam Robitel  ...       Escape Room
1              Jen McGowan  ...        Rust Creek
2        Wilson Coneybeare  ...  American Hangman
3     Charles Martin Smith  ...  A Dog's Way Home
4              Neil Burger  ...        The Upside
..                     ...  ...               ...
236           Greta Gerwig  ...      Little Women
237             Sam Mendes  ...              1917
238  Destin Daniel Cretton  ...        Just Mercy
239        Chinonye Chukwu  ...          Clemency
240           Waymon Boone  ...        Apparition

[241 rows x 6 columns]